* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer,
section {
    padding: 5%;
    border: 1px solid lightgrey;
}

.padded-1 { padding: 1rem; }

.intro {
    text-transform: uppercase;
    background-color: lightgrey;
}

/* Background Image Styles */

.bg-image{
    background-size: cover;
    background-position: center;
}

.square {
    padding-bottom: 100%;
}

.lanscape {
    padding-bottom: 60%;
}

/* Nav Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
   }
   .dropdown-title {
    padding: 0.25rem 0.5rem;
    display: inline-block;
   }
   .dropdown-content {
    position: absolute;
    top: 100%;
    left: -1rem;
    padding: 0.5rem;
    display: none;
    background-color: white;
    z-index: 2;
    text-align: left;
    min-width: 10rem;
   }
   .dropdown:hover .dropdown-content {
    display: block;
   }
   .dropdown-content a {
    display: block;
   }