<header class="grid-middle">
    <div class="col 5">
        <a href="/" class="logo"> LOGO </a>
    </div>
    <nav class="col-7 hide-sm right">
        <a href="/blog"> Blog </a>
        <a href="/archives"> Archive </a>

        <div class="dropdown">
            <span class="dropdown-title"> Categories </span>
            <div class="dropdown-content">

                <a href="/bali"> Bali </a>
                <a href="/travel"> Travel </a>

            </div>
        </div>
        <a href="#"> Portfolio </a>
        <a href="#"> Contact </a>
        
    </nav>
</header>